.category-contests {
	.menu li a {
		color: #248a83;
	}
	.menu-main-menu-container {
		width:30%;
		padding-bottom: 0;
		padding-top: 1rem;
	}
	#primary-menu {
		display: flex;
		justify-content: space-between;
	}
	.header-nav {
		background: rgba(white, 0.6);
		position: fixed;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid #e1e1e1;
		background: rgba(white, 0.6);
		.green-logo-header {
			display: block;
			margin-left: 15rem;
			max-width: 3rem;
		}
		.white-logo-header {
			display: none;
		}
	}
	.main-navigation {
		display: flex;
		justify-content: space-between;
		height: 50px;
		margin-bottom: 1rem;
	}
	.page-header {
		padding-top: 2rem;
		text-transform: uppercase;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}
	.site-content {
		padding-top: 3rem;
		display: flex;
	}
	.site-main {
		width: 800px;
		margin-left: 4rem;
		margin-right: 3rem;
		border-right: 1px solid #e1e1e1;
	}
	.entry-header {
		position: relative;
	}
	.entry-title {
		position: relative;
		top: 3rem;
		background-color: #248a83;
		font-size: 2rem;
		height: auto;
		width: 30rem;
		a {
			text-decoration: none;
			color: #ffffff;
		}
	}
	.entry-meta {
		position: relative;
		top: 25.8rem;
		right: 10rem;
		color: #ffffff;
		background-color: #248a83;
	}
	.read-more {
		border: 1px solid #000000;
		font-size: 20px;
		padding: 10px;
		text-decoration: none;
		color: #000000;

	}
	.widget-area {
		width: 30%;
		padding-top: 3rem;
		padding-left: 2rem;
		line-height: 2rem;
	}
	.widget_text {
		padding-bottom: 2px;
		p {
			font-size: 20px;
			font-family: 'Merriweather', sans-serif;
		}
	}
	.contact-number {
		text-decoration: none;
		color: #248a83;
	}
	.contact-email {
		text-decoration: none;
		color: #248a83;
	}
	.tent-biz-hours-class {
		padding-bottom: 2px;
		p {
			font-size: 20px;
			font-family: 'Merriweather', sans-serif;
		}
		span {
			font-weight: bold;
		}
	}
	.widget_archive ul {
		margin-left: 0;
		list-style: none;
	}
	.widget_archive a {
		text-decoration: none;
		color: #248a83;
		margin: -31px;
		font-family: 'Merriweather', sans-serif;
		font-size: 20px;
	}
	.widget-title {
		text-transform: uppercase;
	}
	.site-footer {
        bottom: 0;
        height: 40vh;
        background-image: url("../../assets/images/dark-wood.png");
        color: #ffffff;
        max-width: 100%;
    }
    .footer-logo img {
        max-width: 17rem;
        padding-top: 4rem;
    }
    .footer {
        display: flex;
        justify-content: space-around;
    }
    .contact-info {
		padding-top: 3rem;
		a {
			text-decoration: none;
			color: #ffffff;
		}
		h3 {
			color: #d99054;
		}
    }
    .business-hours {
		padding-top: 3rem;
		h3 {
			color: #d99054;
		}
    }
    .copyright {
        text-align: center;
	}
}
