/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.container-navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menu-main-menu-container {
	width: 30%;
}
.header-search {
	display: flex;
	width: auto;
	margin-right: 6rem;
}
.search-field {
	display: none;
}
.search-submit {
	margin-top: 0.7rem;
    margin-left: 5px;
    border: 0;
    background: transparent;
	box-shadow: none;
	color: #248a83;
}