.page-id-43 {
    .menu li a {
    color: white;
    }
    #masthead {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container-navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-main-menu-container {
        width: 30%;
    }
    .header-search {
        display: flex;
        width: auto;
        margin-right: auto;
    }
    .search-field {
        display: none;
    }
    .search-submit {
        position: relative;
        top: -12px;
        margin-left: 5px;
        border: 0;
        background: transparent;
        box-shadow: none;
        width: 2rem;
        color: white;
        margin-right: 1rem;
    }
    #primary-menu {
    display: flex;
    justify-content: space-between;
    }
    .header-nav {
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
        .white-logo-header {
        max-width: 3rem;
        display: block;
        margin-left: 15rem;
        }
        .green-logo-header {
            display: none;
        }
    }
    .main-navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 1rem;
    width: 100%;
    }
    

    // main page
    .front-page-main {
    background-image:linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url("../../assets/images/home-hero.jpg");
    background-size: cover, cover;
    width: 100%;
    height: 100vh;
        img {
            position: relative;
            top: 30%;
            left: 40%;
        }
    }
    // shop stuff
    .shop-stuff {
    margin-top: 4rem;
    }
    .main-headings {
    text-align: center;
    font-weight: lighter;
    color: #2f1339;
    font-size: 2.5rem;
    }
    .shop-flex {
    margin: auto;
    width: 70rem;
    display: flex;
    text-align: center;
    justify-content: space-around; 
    }
    .product-flex {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    max-width:23%;
    margin-bottom: 4rem;
    margin-top: 2rem;
        img {
            max-width: 70px;
            padding-top: 1rem;
        }
        a {
            text-decoration: none;
            color: white;
            background: #248a83;
            font-weight: lighter;
            cursor: pointer;
            padding: 10px;
        }
    }
    // inhabitent-journal

    .inhabitent-journal {
    font-size: 1rem;
    margin-bottom: 4rem;
    }
    .inhabitent-journal h1 {
    @extend .main-headings ;
    padding-bottom: 1rem;
    }
    .journal-flex {
    width: 80%;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-between;
    margin-top: 2rem;
    }
    .journal-item {
    border: 1px solid #e1e1e1;
    width: 30%;
    height: 42vh;
        span {
        font-size: 10px;
        line-height: 1rem;
        }
        img {
            width: 100%;
            height: 60%;
            border-bottom: 5px solid #e1e1e1;
        }
        h3 {
            color: #248a83;
            margin-left: 5px;
            line-height: 1.5rem;
        }
        a {
            text-decoration: none;
            color: #000000;
            font-size: 10px;
            border: 1px solid #000000;
            padding: 7px;
        }
    }
    // grid

    .grid-post h1 {
        @extend .main-headings ;
    }
    .grid-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 2fr;
        grid-gap: 20px 20px;
        height: 66vh;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
    .item-one {
        grid-column: 1/3;
        grid-row: 1/3;
        img {
            max-height: 620px;
            max-width: none;
            position: absolute;
            right: -36%;
            bottom: -5%
        }
        .main-title-grid {
            font-size: 3rem;
            font-weight: 100;
            z-index: 2;
            line-height: 1;
            padding: 0;
            margin-top:1rem;
        }
    }
    .item-two {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        img {
            max-height: 620px;
            position: absolute;
            bottom: -5%;
        }
        .main-title-grid {
            font-size: 2.5rem;
            font-weight: 100;
            z-index: 2;
            line-height: 1;
            padding: 0;
            margin-top:1rem;
        }
    }
    .item-three {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        img {
            max-height: 620px;
            position: absolute;
            max-width: 620px;
            bottom: -10%;
            right: -66%;
        }
        .main-title-grid {
            font-size: 2rem;
            font-weight: 100;
            z-index: 2;
            line-height: 1;
            padding: -10%;
            margin-top:1rem;
            margin-bottom: 1rem;
        }
    }
    .item-four {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        img {
            max-height: 620px;
            position: absolute;
            max-width: 620px;
            bottom: -10%;
            right: -66%;
        }
        .main-title-grid {
            font-size: 1.8rem;
            font-weight: 100;
            z-index: 2;
            line-height: 1;
            margin-top:1rem;
        }
    }
    .grid-item {
        position: relative;
        overflow: hidden;
    }
    .thumbnail-grid-post {
        background: rgba(0,0,0,.4);
        content: "";
        z-index: 1 ;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }
    .title-grid-post {
        position: absolute;
        z-index: 2;
        padding: 2rem;
        .main-title-grid {
            font-family: 'Merriweather', sans-serif;
            text-decoration: none;
            font-size: 2rem; 
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    .read-more-btn {
        border: 1px solid white;
        color: black;
        background-color: transparent;
        font-family: 'Novecentos', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.7rem 1.3rem;
        font-size: 0.9rem;
    }
    .last-section {
        border: 1px solid #248a83;
        background-color: #248a83;
        width: 13rem;
        text-align: center;
        text-transform: uppercase;
        margin: 4rem;
        a {
            text-decoration: none;
            font-weight: lighter;
            color: white;
        }
    }
    .site-footer {
    bottom: 0;
    height: 40vh;
    background-image: url("../../assets/images/dark-wood.png");
    color: #ffffff;
    max-width: 100%;
    }
    .footer-logo img {
    max-width: 17rem;
    padding-top: 4rem;
    }
    .footer {
    display: flex;
    justify-content: space-around;
    }
    .contact-info {
    padding-top: 3rem;
    }
    .contact-info a{
    text-decoration: none;
    color: #ffffff;
    }
    .contact-info h3 {
    color: #d99054;
    }
    .business-hours {
    padding-top: 3rem;
    }
    .business-hours h3 {
    color: #d99054;
    }
    .copyright {
    text-align: center;
    }
}